<h1 class="dashboard"><%= @active_date.strftime("%A #{@active_date.day.ordinalize} %B, %Y") %></h1>
<div id="date_nav">
	<a href="?active_date=
		<%= @active_date.yesterday.strftime("%Y_%m_%d") %>" alt="The previous day">
		&#x21e0; Back
	</a>
	<% if (@active_date < Date.today ) %>
		|
		<a href="?active_date=<%= Date.today.strftime("%Y_%m_%d") %>" alt="today">Today</a>
		|
		<a href="?active_date=
			<%= @active_date.tomorrow.strftime("%Y_%m_%d") %>" alt="the day after">
			Forward &#x21e2;
		</a>
	<% else %>
	| Today | Forward &#x21e2;
	<% end %>
</div>

<h2>Food Diary</h2>

<% if @foods %>
<ul class="foods">
	<% @foods.each do |x| %>
		<li>
			<%= "#{x.food} (#{x.calories} kcal)" %> 
			<%= link_to "x", {:controller =>"foods", :action => "destroy", :id => x.id, :active_date => @active_date.strftime("%Y_%m_%d")}, :confirm => "Are you sure?", :method => :delete %>
		</li>
	<% end %>
</ul>
<% end %> 

<%= form_tag foods_path do %>
	<p>
		<%= text_field_tag  :food, "", :placeholder => "food"  %>
		<%= text_field_tag :calories, "", :placeholder => "kcal" %>
		<%= hidden_field_tag :active_date, @active_date.strftime("%Y_%m_%d") %>
		<br />
		<button type="submit" class="small red awesome">Add</button>
		<%= @calorie_total %> total calories today. <%= "#{number_to_human(current_user.daily_calories.to_f - @calorie_total, :strip_insignificant_zeros => true)} left of #{current_user.daily_calories}." if current_user.daily_calories.to_f > 0 %>
	</p>
<% end %>

<h2>Todays Weight</h2>

<% if @weight %>
<p><%= "You already entered #{number_to_human(@weight.pounds, :strip_insignificant_zeros => true)} pounds. Enter again below to change." %></p>
<% else %>
<p>You've not entered a weight yet.</p>
<% end %> 

<%= form_tag weights_path do %>
	<p>
		<%= text_field_tag :weight_in_pounds, "", :placeholder => "weight in pounds"  %> or<br />
		<%= text_field_tag :weight_in_stone, "", :placeholder => "stone pounds fraction"  %>
		<%= hidden_field_tag :active_date, @active_date.strftime("%Y_%m_%d") %>
		<br />
		<button type="submit" class="small red awesome">Add</button>
		<% if @weight && current_user.next_goal_weight.to_f > 0 %>
		<%= number_to_human(@weight.pounds - current_user.next_goal_weight.to_f, :strip_insignificant_zeros => true) %> pounds til your next goal!
		<% end %>
	</p>
<% end %>
