<h1><%= @active_date.strftime("%A #{@active_date.day.ordinalize} %B, %Y") %></h1>

<p>
<a href="?active_date=
	<%= @active_date.yesterday.strftime("%Y_%m_%d") %>" alt="The previous day">
	<%= @active_date.yesterday.strftime("%A #{@active_date.day.ordinalize} %B") %>
</a>

<% if (@active_date < Date.today ) %>
 | 
	<a href="?active_date=
		<%= @active_date.tomorrow.strftime("%Y_%m_%d") %>" alt="the day after">
		<%= @active_date.tomorrow.strftime("%A #{@active_date.day.ordinalize} %B") %>
	</a>
<% end %>

<% if @foods %>
<ul>
	<% @foods.each do |x| %>
		<li><%= "#{x.food} (#{x.calories})" %></li>
	<% end %>
</ul>
<% end %> 

<%= form_tag foods_path do %>
	<p>
		<%= text_field_tag :food, "", :placeholder => "food"  %>
		<%= text_field_tag :calories, "", :placeholder => "kcal" %>
		<%= hidden_field_tag :active_date, @active_date.strftime("%Y_%m_%d") %>
		<br />
		<%= submit_tag(value="Add") %>
	</p>
<% end %>

</p>