<h1>Profile</h1>


	<div id="placeholder" style="width:600px;height:300px;"></div>

	<h2>The Last <%= @history_days %> Days</h2>
	<p>Total <%= @total_loss %> pounds lost.</p>
	<br />
	<% @weight_change.each do |weight| %>
		<%
			happy_class = 'meh'
			happy_class = 'bad' if weight > 0
			happy_class = 'good' if weight < 0
		%>	
		<div class="day <%= happy_class %>">
			<%= number_to_human(weight, :strip_insignificant_zeros => true) %>
		</div>
	<% end %>
	<div class="clear" />
<% if @user.id == current_user.id %>
	<br />
	<% if @user.public_profile %>
		<p>Please note this page is available to anyone at <a href="">this link.</a> 
		If you wish to make it private you can change your settings <a href="<%= settings_users_path %>" alt="settings">here</a>.</p>
	<% else %>
		<p>Your profile is currently set to private. If you would like it to be publicly available
		then you can change your setting <a href="<%= settings_users_path %>" alt="settings">here</a>.</p>
	<% end %>
<% end %>

<h2>The Last Week</h2>

<% current_day = nil %>
<% @food_log.each do |nom| %>
	<% if current_day != nom.date %>
		<%= raw "<br /><br />" if current_day != nil %>
		<%= nom.date.strftime("%A #{nom.date.day.ordinalize}") %>
		<% current_day = nom.date %>
		<hr />
	<% end %>
	<%= nom.food %> (<%= nom.calories %> kcal)
	<br />
<% end %>

<script type="text/javascript">

$(function () {
	var options = {
		series: {
			color: "rgb(204, 51, 51)", //#CC3333
			label: "Weight (Pounds)",
	        lines: { show: false },
	        points: { show: true }
    	},
    	xaxis: { 	mode: "time", 
	        		timeformat: "%d/%m/%y"
	    },
    	legend: {
    		backgroundOpacity: 0
    	}
    };
    var data = [];
    var data2 = [];
    var placeholder = $("#placeholder");
    var dataurl = "/weights/<%= @user.id %>.json";

    function onDataReceived(series) {
            for (var i = 0; i < series.length; i++) {
            	data.push([new Date(series[i]["ticks"]),series[i]["weight"]["pounds"]]);
			};

            //for (var i = 0; i < series.length; i++) {
            //	data.push([new Date(series[i]["ticks"]),series[i]["weight"]["pounds"]]);
			//};

			data2.push([new Date(series[0]["ticks"]), <%= current_user.next_goal_weight.to_f %>]);
			data2.push([new Date(series[series.length -1]["ticks"]), <%= current_user.next_goal_weight.to_f %>]);

			var d3 = [];
			var daysAverage = 4;

			for (var i = 0; i < series.length; i++) {

				if (i > daysAverage - 1) {
					var total = series[i]["weight"]["pounds"];
					var divider = 1;
					var startTicks = series[i]["ticks"];

					for (var x = 0; x < daysAverage; x++) {
						ticks = series[i - x]["ticks"];
						if ((startTicks - ticks) < (86400 * 1000 * daysAverage)) {
							divider = divider + 1;
							total = total + series[i - x]["weight"]["pounds"];
						}
					}
					if (divider > daysAverage - 1)
						d3.push([new Date(series[i]["ticks"]), total / divider])

				}

			}

            
            $.plot(placeholder, [{
            	data: data2,
            	points: { show: false },
            	lines: { show: true },
				color: "Green", //#CC3333
				label: "Next Goal"
            }, data, {
            	data: d3,
            	points: { show: false },
            	lines: { show: true }, 
            	color: "blue",
            	label: "4 Day Average"
            }], options);
         }

    $.ajax({
            url: dataurl,
            method: 'GET',
            dataType: 'json',
            success: onDataReceived
        });
});
</script>